@import url("./preview.css");
@import url("./resume.css");

/* normalize */
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* EB Garamond */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap");

:root {
	--main-dark: #000;
	--input-bgc: #eff2f8;
	--input-border: #e7eaf4;
	--button-bgc: #eff2f8;
	--button-color: #1b91f0;
}

* {
	box-sizing: border-box;
	font-family: "EB Garamond", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

[hidden] {
	display: none !important;
}

p,
h1,
h2,
h3 {
	margin: 0;
}

input {
	border: 0;
}

textarea {
	border: 0;
	resize: none;
}

button {
	border: 0;
	outline: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

ul,
li {
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
}

#root > div {
	display: flex;
	column-gap: 20px;
	padding: 20px;
	height: 100vh;
}

#root > div > div {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid var(--main-dark);
	flex: 1 1 50%;
	overflow: scroll;
}
