
.preview {
	overflow-wrap: break-word;
}

.preview div:not(:last-child) {
	margin-bottom: 20px;
}

.preview div:not(:nth-of-type(1)) li {
	margin: 5px 0;
	margin-left: 20px;
}

.preview > div:nth-of-type(1) ul {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	list-style: none;
	border-bottom: 1px solid var(--main-dark);
	font-size: 1.5rem;
}

.preview > div > :nth-child(1) {
	margin-bottom: 20px;
	font-weight: bolder;
}

.preview > div > p:nth-of-type(1) {
	border-bottom: 1px solid var(--main-dark);
}

.preview .employment > div,
.preview .education > div {
	margin: 20px 0;
}

.preview .employment > div > p,
.preview .education > div > p {
	display: flex;
	justify-content: space-between;
}

.preview .employment > div > p:nth-of-type(1),
.preview .education > div > p:nth-of-type(1) {
	font-weight: bolder;
}

.preview .employment > div > p:nth-of-type(2),
.preview .education > div > p:nth-of-type(2) {
	margin: 10px 0;
	font-style: italic;
}